body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.block{
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column ;
    background-color: aqua;
    width: 550px;
    height: 800px;
}
.blocks{
    width: 530px;
}
.block1{
    height: 120px;
    background-color: orange;
}
.block2{
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.block2-1{
    background-color: gray;
    height: 100%;
    width: 30%;
}
.block2-2{
    background-color: yellow;
    height: 100%;
    width: 68%;
}
.block3{
    height: 120px;
    background-color: green;
}
