.label{
    display: inline-block;
    width: 300px;
    height: 100px;
    background-color: rgb(167, 167, 167);
    position: relative;
    border-radius: 50px;
    border: 2px solid black;
}
.label::after{
    display: flex;
    content: "OFF";
    justify-content: center ;
    padding-top: 35px ;
    width: 90px;
    height: 55px;
    background-color: rgb(220, 220, 220);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50px;
    transition: all 0.6s;
    border: 2px solid black;
}
.check:checked + label:after{
    content: "ON";
    transform: translateX(200px);
}
.check:checked + label{
    display: inline-block;
    width: 300px;
    height: 100px;
    background-color: rgb(94, 94, 94);
    position: relative;
    border-radius: 50px;
    border: 2px solid black;
}
.check{
    display: none;
}