body{
    background: linear-gradient(0deg, rgba(108,0,186,1) 18%, rgba(57,9,121,1) 99%);
    background-repeat: no-repeat;
    background-color: aqua;
}
circle{
    fill: none;
    stroke-width: 6px;
    stroke-dasharray: 150, 25;
    /* stroke-linecap: round; */
    animation: rotate 3s infinite;
    animation-direction: alternate-reverse;
    stroke: blue;
}
/* .cercle1{
    stroke: rgba(0, 195, 255, 0.795);
}
.cercle2{
    stroke: rgb(68, 0, 255, 0.80);
} */
@keyframes rotate{
from {stroke-dasharray: 150, 25;}
to {stroke-dasharray: 25,25;}
}

/* .svg1{
    display: block;
    margin: auto;
} */


/* body{
    background: linear-gradient(0deg, rgba(108,0,186,1) 18%, rgba(57,9,121,1) 99%);
    background-repeat: no-repeat;
    background-color: aqua;
}
  circle{
      fill: none;
      stroke-width: 6px;
      stroke-dasharray: 150, 25;
      animation: rotate 3s infinite;
      animation-direction: alternate-reverse;
      stroke: red;
  }
  @keyframes rotate {
    from {stroke-dasharray: 150,25;}
    to {stroke-dasharray: 25,25;}
  
  } */