<<<<<<< HEAD
=======
body{
    background: linear-gradient(0deg, rgba(108,0,186,1) 18%, rgba(57,9,121,1) 99%);
    background-repeat: no-repeat;
    background-color: aqua;
}
>>>>>>> 09f48294b8eb613a16c9cd405d5ec920d6904276
circle{
    fill: none;
    stroke-width: 6px;
    stroke-dasharray: 150, 25;
<<<<<<< HEAD
    stroke-linecap: round;
    animation: animate-dash 3s infinite ease-in-out alternate;
}
.cercle1{
    stroke: rgb(0, 195, 255);
}
.cercle2{
    stroke: rgb(255, 196, 0);
}
@keyframes animate-dash{
from {
    stroke-dasharray: 150, 60;
    stroke-dashoffset: 80;
}
to {
    stroke-dasharray: 25,20;
    stroke-dashoffset: -600;
}
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-image: linear-gradient(rgb(92, 0, 92) 18%, rgb(185, 0, 185) 99%);
    height: 100vh;
}
.svg1{
    filter: drop-shadow(100px 0 rgb(255, 196, 0));
=======
    /* stroke-linecap: round; */
    animation: rotate 3s infinite;
    animation-direction: alternate-reverse;
    stroke: blue;
}
/* .cercle1{
    stroke: rgba(0, 195, 255, 0.795);
}
.cercle2{
    stroke: rgb(68, 0, 255, 0.80);
} */
@keyframes rotate{
from {stroke-dasharray: 150, 25;}
to {stroke-dasharray: 25,25;}
}

/* .svg1{
    display: block;
    margin: auto;
} */


/* body{
    background: linear-gradient(0deg, rgba(108,0,186,1) 18%, rgba(57,9,121,1) 99%);
    background-repeat: no-repeat;
    background-color: aqua;
>>>>>>> 09f48294b8eb613a16c9cd405d5ec920d6904276
}
  circle{
      fill: none;
      stroke-width: 6px;
      stroke-dasharray: 150, 25;
      animation: rotate 3s infinite;
      animation-direction: alternate-reverse;
      stroke: red;
  }
  @keyframes rotate {
    from {stroke-dasharray: 150,25;}
    to {stroke-dasharray: 25,25;}
  
  } */