body{
    margin: 0px;
}
header{
    display: flex;
    align-items: center;
    background-color:#e97000;
    height: 8rem ;
    overflow: hidden;
}
.logo{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
    margin-left: 5%;
    height: 100px;
}
.logo img{
    height: 80px;
}
.banniere{
    display: flex;
    position: relative;
    opacity: 50%;
    border-radius: 8rem;
    height: 100%;
    width: 30rem;
    margin: auto;
}
.imgbanniere{
    top: 15%;
    border-radius: 4rem;
    width: 100%;
}
.burger{
    right: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    width: 60px;
    height: 45px;
    cursor: pointer;
}
.burger input{
    display: none;
}
.burger:hover{
    transform: scale(110%);
}
.burgerbarre{
    border-radius: 1rem;
    width: 60px;
    height: 10px;
    background-color: black;
}
.menuburger{
    background-color: #e97000;
    display: flex;
    width: 0%;
    height: 100vh;
    right: 0%;
    position: absolute;
    transition: 2s ease-in-out;
}
.SectionBarreRechercheGen{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3rem;
    background-color: #d1d1d1;
    box-shadow: 0px 2px 3px grey;
}
.BarreRechercheGen{
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: white;
    width: 20% ;
    height: 70%;
    border-radius:10rem;
    box-shadow: 1px 2px 3px gray;
}
.BarreRechercheGen input{
    position: absolute;
    width: 85%;
    height: 90%;
    left: 3%;
    border-radius: 0.4rem;
    border: 0px;
}
.BarreRechercheGen input:focus{
    border: 2px solid black ;
    outline: none
}
.BarreRechercheGenLoupe{
    position: absolute;
    right: 0%;
    height: 100%;
    border-radius: 50%;
}
.filtresbtn{
    background-color: #ccc;
    border-radius: 0.6rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min-content;
    height: 30px;
    right: 31%;
    cursor: pointer;
}
.filtresbtn span{
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 0%;
}
.filtresbtn input::after p{
    transform: scale(110%);
}
.filtresbtn img{
    z-index: 1;
    position: relative;
    height: 30px;

}
.articles{
    position: relative;
    width: 90vw;
    height: 45rem;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.articlesright{
    width: 40%;
    height: 80%;
    background-color: #d1d1d1;
    border-radius: 3rem;
    box-shadow: 1px 1px 4px 4px rgba(128, 128, 128, 0.747);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.articlesleft{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.promos{
    height: 45%;
    width: 90%;
    background-color: #d1d1d1;
    border-radius: 1.5rem;
    box-shadow: 1px 2px 3px gray;
    box-shadow: 1px 1px 3px 4px rgba(128, 128, 128, 0.747);
    display: flex;
}
.promos .fleches{
    border-radius: 1.5rem;
    margin: 2%;
    height: 90%;
    width: 10%;
    opacity: 50%;
}
.promos .fleches:hover{
    transform: scale(105%);
}
.promos .flechedroite{
    background-color: white;
    margin-right: 0%;
    margin-left: 76%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.promos .flechedroite img{
    width: 100%;
    rotate: 180deg;
}
.promos .flechegauche{
    background-color: white;
    margin-right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.promos .flechegauche img{
    width: 100%;
}
.classesvehicules{
    height: 50%;
    width: 90%;
    background-color: #d1d1d1;
    border-radius: 1.5rem;
    box-shadow: 1px 2px 3px gray;
    box-shadow: 1px 1px 3px 4px rgba(128, 128, 128, 0.747);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
.classesvehicules a{
    text-decoration: none;
    margin: 3%;
    color: black;
    background-color: #bbbbbb;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.classesvehicules a:hover{
    transform: scale(110%);
}
.cartefrance{
    height: 65%;
    width: 55%;
}
.cartefrance svg{
    overflow: visible;
}
.land{
    fill: #f1faee;
    fill-opacity: 1;
    stroke: rgb(24, 23, 23);
    stroke-opacity: 1;
    stroke-width: 1;
    transform-origin: center;
    overflow:inherit;
}
.land:hover {
    transform: scale(102%);
    stroke-width: 3px;
}
.carteSearchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    height: 5%;
    width: 40%;
    border-radius: 1rem;
}
.carteSearchBar input{
    content: "Chercher par Ville ou Département";
    position: absolute;
    left: 2%;
    border: none;
    width: 85%;
}
.carteSearchBar input:focus{
    border: 1px solid black;
    outline: none;
}
.carteSearchBar img{
    height: 100%;
    border-radius: 50% ;
    position: absolute;
    right: 0px;
}